<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Flask SQL Tutorial</title>
  </head>
  <body>
      <form action="./observationadd" method="post">
          <h5>Enter the user Details</h5>
          <div>
              <input type="text" name="star" placeholder="star">
          </div>
          <div>
              <input type="text" name="location" placeholder="location">
          </div>
          <div>
              <button >Submit</button>
          </div>
      </form>
  </body>

</html>